# Created by .ignore support plugin (hsz.mobi)
.project
.idea/
spark-learn.iml
spark-sql/.classpath
spark-sql/.project
spark-sql/.settings/
target
spark-udf/spark-udf.iml
spark-warehouse/
/spark-sql/target/
/spark-sql/target/
/spark-sql/target/
src/main/scala/com/spark/learn/ALSExample.scala
/spark-sql/target/
/spark-sql/target/classes/com/spark/learn/
/spark-sql/target/test-classes/
